.main-nav__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 25px;
}

.main-nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
    text-decoration: underline;
  }
}

@media (max-width: $tablet) {
  .main-nav__list {
    grid-column-gap: 20px;
  }

  .main-nav__link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: $mobile) {
  .main-nav__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .main-nav__link {
    display: block;
    padding: 25px 15px;
    border-top: 1px solid $grey-lines;
    border-bottom: 1px solid $grey-lines;
    margin-bottom: -1px;
    
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}