$main-font: "roboto", "Arial", sans-serif;

$desktop: 1024px;
$tablet: 1023px;
$mobile: 767px;

$white: #ffffff;
$black: #000000;
$background: #F6F7FF;
$text-color: #1F1E25;
$grey-lines: #C1C2CA;
$accent: #2C36F2;
$accent-dark: #2028B6;
$inactive: #707C87;
$label: #394959;
$lines-dark: #C4C4C4;
// @media (max-width: $tablet) {}
// @media (max-width: $mobile) {}